.bgimage{
	background-image: url(../images/banner.jpg);
	background-position: center;
	background-size: cover;
	height: 200px;
	color: red;
	

}

.gridCell{
	margin:10px;
}

.gridSection{
	border:2px;
}